/* This file is for your main application css. */

@import "../../deps/phoenix_live_view/assets/css/live_view.css";
@import "./phoenix.css";
@import "./game.css";

html {
  background: #292a2d;
  color: #a9a9b3;
}

body {
  margin: 0;
}
